.annotation-title {
  text-align: center;
  color: #555;
  background-color: #aecbf1;
  padding: 10px 20px;
  z-index: 2;
  position: fixed;
  min-width: 100%;
  top: 0;
  a {
    color: #555;
    text-decoration: underline;
  }
  .annotation-dismiss{
    text-decoration: underline;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    bottom: 0;
    top: auto;
    &+ #ember-app {
      margin-top: 0 !important;
    }
  }
  &+ #ember-app {
    margin-top: 40px;
  }
}