.annotation-title {
  text-align: center;
  color: #555;
  background-color: #aecbf1;
  padding: 10px 20px;
  a {
    color: #555;
    text-decoration: underline;
  }
  .annotation-dismiss{
    text-decoration: underline;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    z-index: 10;
    bottom: 0;
    position: fixed;
  }
}